.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.avatarConfig {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    padding-bottom: 50px;
}

.background{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    filter: blur(10px)
}

.capa{
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .2;
}

.background img{
    width: 200%;
}

main{
    width: 100%;
    margin: auto;
    margin-top: 50px;
    position: relative;
}

main h1{
    text-align: center;
    font-size: 40px;
}

.line{
    width: 100%;
    height: 2px;
    border-style: none;
    background: #cecece;
    margin-top: 20px;
}

.container-comments,
.container-comments-request{
    margin-top: 20px;
}

.container-comments-request{
    margin-left: 100px;
}
//aqui
.comments,
.comments-request{
    display: flex;
}


.photo-perfil{
    width: 135px;
    height: 111px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 2%;
}

.photo-perfil-request{
    width: 200px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.photo-perfil-request img{
    width: 100%;
    height: 100%;
}

.photo-perfil img{
    width: 100%;
    height: 100%;
}


.info-comments,
.info-comments-request{
    height: 100%;
    width: 100%;
    margin-left: 20px;
    background: #e6e6e6;
    transition: all 300ms;
    margin-top: 10px;
    border-bottom: 6px solid #e3342f;
}


.info-comments .header,
.info-comments-request .header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #019CDE;
    color: white;

}

.info-comments p,
.info-comments-request p{
    padding: 20px;
}
// aqui

.info-comments .footer,
.info-comments-request .footer{
    width: 100%;
    background: white;
    padding: 10px;
    color: #5f5f5f;
    display: flex;
    justify-content: space-between;
}

.info-comments .footer h5,
.info-comments-request .footer h5{
    font-size: 15px;
    cursor: pointer;
}

.info-comments .icon-heart,
.info-comments-request .icon-heart{
    color: #aaaaaa;
    transition: all 300ms;
    font-size: 20px;
}

.info-comments .icon-heart:hover,
.info-comments-request .icon-heart:hover{
    color: #d91111;
    cursor: pointer;
}



/*Contenedor para los datos de comentarios*/


.container-data{
    width: 100%;
    bottom: 0px;
    position: fixed;
    background: white;
    padding: 20px;
    padding-bottom: 80px;
    z-index: 11;
    border-top: 6px solid #019CDE;
}

.photo-input{
    display: flex;
}


.perfil-photo{
    width: 100px;
    height: 96px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.perfil-photo img{
    width: 100%;
    height: 100%;
}

.photo-input input{
    width: 400px;
    height: 40px;
    padding: 8px;
    background: none;
    border-style: none;
    outline: 0px;
    border-bottom: 2px solid #8d8d8d;
    margin-top: 50px;
    margin-left: 20px;
    font-size: 16px;
}

.mensaje{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 300px;
    min-height: 100px;
    margin-top: 20px;
    padding: 20px;
    font-size: 16px;
    background: #ebebeb;
}

.btn-comment{
    position: absolute;
    right: 20px;
    padding: 10px 80px;
    font-size: 16px;
    color: white;
    background: #019CDE;
    border-style: none;
    margin-top: 20px;
    cursor: pointer;
}

.btn-comment:hover{
    opacity: 0.9;
}

.capa-data{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.8;
    z-index: 10;
}


