p.clasificacion {
  position: relative;
  overflow: hidden;
  display: inline-block;
  font-size: 50px;
  //padding: 4% 41% 2% 21%
  padding: 3% 41% 19% 11%;
}

p.clasificacion2 {
  position: relative;
  overflow: hidden;
  display: inline-block;
  font-size: 50px;
  //padding: 4% 41% 2% 21%
  padding: 3% 41% 5% 11%;
  width: 142%;
}

p.clasificacion input {
  position: absolute;
  top: -100px;
}

p.clasificacion2 input {
  position: absolute;
  top: -100px;
}

p.clasificacion label {
  float: right;
  color: #333;
}
p.clasificacion2 label {
  float: right;
  color: #333;
}

p.clasificacion label:hover,
p.clasificacion label:hover ~ label,
p.clasificacion input:checked ~ label {
  color: #dd4;
}
p.clasificacion2 label:hover,
p.clasificacion2 label:hover ~ label,
p.clasificacion2 input:checked ~ label {
  color: #dd4;
}
.start{
  //margin-right: 15px;
  margin-right: 39px;
}

@media (min-width: 600px) {
  p.clasificacion {
    font-size: 15px;
  }
}

@media (min-width: 500px) {
  p.clasificacion {
    font-size: 20px;
    padding: 4% 41% 2% 7%
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  p.clasificacion {
    font-size: 40px;
  }
}

/**

 */

.box{
  width: 500px;
}

.ratin_ter{
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  margin-top:10px;
  border:1px solid #000;
  box-sizing: border-box;
  background: linear-gradient(to right,#f00,#ff0,#0f0);
}

.ratin_ter input{
  display: none;

}

.ratin_ter label{
  display: block;
  cursor: pointer;
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center ;
  align-items: center ;
  transition: 0.5s;
  background: #fff;
  color:#000;
  font-size: 20px;
  border-right:1px solid #000;
}

.radio_input:hover ~ label,
.radio_input:checked ~ label{

  background: transparent;

}

/**
2
 */

.ratin_ter2{
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  margin-top:10px;
  border:1px solid #000;
  box-sizing: border-box;
  background: linear-gradient(to right,#f00,#ff0,#0f0);
}

.ratin_ter2 input{
  display: none;

}

.ratin_ter2 label{
  display: block;
  cursor: pointer;
  width: 50px;
  height: 40px;
  display: flex;
  justify-content: center ;
  align-items: center ;
  transition: 0.5s;
  background: #fff;
  color:#000;
  font-size: 20px;
  border-right:1px solid #000;
}



